<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Nuevo Estudiante</title>
</head>
<body>
  <h1>Formulario de Estudiante</h1>
  <form method="post">
    <label for ="nombre">Nombre</label><br>
    <input type="text" id="nombre"><br><br>
    <label for ="apellido">Apellido</label><br>
    <input type="text" id="apellido"><br><br>
    <label for ="edad">Edad</label><br>
    <input type="number" id="edad"><br><br>
    <label for ="correo">Correo electronico:</label><br>
    <input type="email" id="correo" name="correo"><br><br>
    <button type="submit">Enviar</button>
  </form>
</body>
</html>
